<a href="https://colab.research.google.com/github/1kishor0/Data-Peprocessing-on-Iris-Dataset/blob/main/Data_Preprocessing_On_Iris_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
iris=pd.read_csv("/content/Iris_Data.csv")

# **Vewing Iris Dataset using** *'head()'*,*'info()'*,*'describe()'*

In [3]:
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# Handling Duplicate values

In [ ]:
# Check for duplicates
duplicates = iris[iris.duplicated()]
print("Number of duplicate rows:", len(duplicates))

# Drop duplicates
df = iris.drop_duplicates()

# Verify that duplicates have been removed
duplicates = df[df.duplicated()]
print("Number of duplicate rows after removal:", len(duplicates))

Number of duplicate rows: 3
Number of duplicate rows after removal: 0

In [ ]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[147 rows x 5 columns]

# Columns Cleanup

In [ ]:


# Rename columns
df = df.rename(columns={
    'sepal_length': 'sepalLength',
    'sepal_width': 'sepalWidth',
    'petal_length': 'petalLength',
    'petal_width': 'petalWidth',
    'species': 'TargetFeature'
})

# Verify column names
print(df.head())

   sepalLength  sepalWidth  petalLength  petalWidth TargetFeature
0          5.1         3.5          1.4         0.2   Iris-setosa
1          4.9         3.0          1.4         0.2   Iris-setosa
2          4.7         3.2          1.3         0.2   Iris-setosa
3          4.6         3.1          1.5         0.2   Iris-setosa
4          5.0         3.6          1.4         0.2   Iris-setosa

# DataFrame slicing

In [ ]:
# Slice based on rows using loc[]
slice1 = df.loc[10:20, ['sepal_length', 'petal_width']]

# Slice based on rows using iloc[]
slice2 = df.iloc[10:20, 1:3]

print("Slice using loc[]:")
print(slice1)

print("Slice using iloc[]:")
print(slice2)
# Slice based on conditions using loc[]
slice3 = df.loc[df['petal_length'] > 1.5, ['sepal_length', 'species']]

print("Slice using loc[] and condition:")
print(slice3)

Slice using loc[]:
    sepal_length  petal_width
10           5.4          0.2
11           4.8          0.2
12           4.8          0.1
13           4.3          0.1
14           5.8          0.2
15           5.7          0.4
16           5.4          0.4
17           5.1          0.3
18           5.7          0.3
19           5.1          0.3
20           5.4          0.2
Slice using iloc[]:
    sepal_width  petal_length
10          3.7           1.5
11          3.4           1.6
12          3.0           1.4
13          3.0           1.1
14          4.0           1.2
15          4.4           1.5
16          3.9           1.3
17          3.5           1.4
18          3.8           1.7
19          3.8           1.5
Slice using loc[] and condition:
     sepal_length         species
5             5.4     Iris-setosa
11            4.8     Iris-setosa
18            5.7     Iris-setosa
20            5.4     Iris-setosa
23            5.1     Iris-setosa
..            ...             ...
145           6.7  Iris-virginica
146           6.3  Iris-virginica
147           6.5  Iris-virginica
148           6.2  Iris-virginica
149           5.9  Iris-virginica

[112 rows x 2 columns]

# selecting, extracting

In [ ]:
# Select a single column
sepal_length = df['sepalLength']

print("Selected column 'sepal_length':")
print(sepal_length)
# Select multiple columns
sepal_data = df[['sepalLength', 'sepalWidth']]

print("Selected columns 'sepalLength' and 'sepalWidth':")
print(sepal_data)
# Extract rows based on conditions
setosa = df.loc[df['TargetFeature'] == 'Iris-setosa']

print("Rows with TargetFeature 'Iris-setosa':")
print(setosa.head(20))

Selected column 'sepal_length':
0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepalLength, Length: 147, dtype: float64
Selected columns 'sepalLength' and 'sepalWidth':
     sepalLength  sepalWidth
0            5.1         3.5
1            4.9         3.0
2            4.7         3.2
3            4.6         3.1
4            5.0         3.6
..           ...         ...
145          6.7         3.0
146          6.3         2.5
147          6.5         3.0
148          6.2         3.4
149          5.9         3.0

[147 rows x 2 columns]
Rows with TargetFeature 'Iris-setosa':
    sepalLength  sepalWidth  petalLength  petalWidth TargetFeature
0           5.1         3.5          1.4         0.2   Iris-setosa
1           4.9         3.0          1.4         0.2   Iris-setosa
2           4.7         3.2          1.3         0.2   Iris-setosa
3           4.6         3.1          1.5         0.2   Iris-setosa
4           5.0         3.6          1.4         0.2   Iris-setosa
5           5.4         3.9          1.7         0.4   Iris-setosa
6           4.6         3.4          1.4         0.3   Iris-setosa
7           5.0         3.4          1.5         0.2   Iris-setosa
8           4.4         2.9          1.4         0.2   Iris-setosa
9           4.9         3.1          1.5         0.1   Iris-setosa
10          5.4         3.7          1.5         0.2   Iris-setosa
11          4.8         3.4          1.6         0.2   Iris-setosa
12          4.8         3.0          1.4         0.1   Iris-setosa
13          4.3         3.0          1.1         0.1   Iris-setosa
14          5.8         4.0          1.2         0.2   Iris-setosa
15          5.7         4.4          1.5         0.4   Iris-setosa
16          5.4         3.9          1.3         0.4   Iris-setosa
17          5.1         3.5          1.4         0.3   Iris-setosa
18          5.7         3.8          1.7         0.3   Iris-setosa
19          5.1         3.8          1.5         0.3   Iris-setosa